</main>
  <footer class="d-flex flex-wrap align-items-center py-4 mt-4">
    <div class="container d-flex justify-content-between">
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-3 mb-md-0">© <%= new Date().getFullYear() %> Priscila Acosta</p>
      </div>  
      <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">        
        <li class="ms-3">
          <a href="#"><i class="bi bi-facebook footer-icon"></i></a>
        </li>
        <li class="ms-3">
          <a href="#"><i class="bi bi-instagram footer-icon"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>